<?php
$title = 'Edit user';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
$login = $form->get('login');
$login->setAttribute('class', 'form-control');
$login->setAttribute('placeholder', 'Login');

$first_name = $form->get('first_name');
$first_name->setAttribute('class', 'form-control');
$first_name->setAttribute('placeholder', 'First Name');

$last_name = $form->get('last_name');
$last_name->setAttribute('class', 'form-control');
$last_name->setAttribute('placeholder', 'Last Name');

$date_birth = $form->get('date_birth');
$date_birth->setAttribute('class', 'form-control');
$date_birth->setAttribute('placeholder', 'Date of Birth');

$about = $form->get('about');
$about->setAttribute('class', 'form-control');
$about->setAttribute('placeholder', 'About');

$place = $form->get('place');
$place->setAttribute('class', 'form-control');
$place->setAttribute('placeholder', 'Place');

$url = $form->get('url');
$url->setAttribute('class', 'form-control');
$url->setAttribute('placeholder', 'Site URL');

$date_reg = $form->get('date_reg');
$date_reg->setAttribute('class', 'form-control');
$date_reg->setAttribute('placeholder', 'Date of registration');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('user', [
    'action' => 'edit',
    'id'     => $id,
]));
$form->prepare();

echo $this->form()->openTag($form);
?>
<div class="form-group">
    <?= $this->formLabel($login) ?>
    <?= $this->formElement($login) ?>
    <?= $this->formElementErrors()->render($login, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($first_name) ?>
    <?= $this->formElement($first_name) ?>
    <?= $this->formElementErrors()->render($first_name, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($last_name) ?>
    <?= $this->formElement($last_name) ?>
    <?= $this->formElementErrors()->render($last_name, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($date_birth) ?>
    <?= $this->formElement($date_birth) ?>
    <?= $this->formElementErrors()->render($date_birth, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($about) ?>
    <?= $this->formElement($about) ?>
    <?= $this->formElementErrors()->render($about, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($place) ?>
    <?= $this->formElement($place) ?>
    <?= $this->formElementErrors()->render($place, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($url) ?>
    <?= $this->formElement($url) ?>
    <?= $this->formElementErrors()->render($url, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($date_reg) ?>
    <?= $this->formElement($date_reg) ?>
    <?= $this->formElementErrors()->render($date_reg, ['class' => 'help-block']) ?>
</div>

<?php
echo $this->formSubmit($submit);
echo $this->formHidden($form->get('id'));
echo $this->form()->closeTag();