<?php
$title = 'Users list';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('user', ['action' => 'add']) ?>">Add new user</a>
</p>

<table class="table">
<tr>
    <th>ID</th>
    <th>Login</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birthday</th>
    <th>About</th>
    <th>Place</th>
    <th>Url</th>
    <th>Date reg.</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($users as $user) : ?>
    <tr>
        <td><?= $this->escapeHtml($user->id) ?></td>
        <td><?= $this->escapeHtml($user->login) ?></td>
        <td><?= $this->escapeHtml($user->first_name) ?></td>
        <td><?= $this->escapeHtml($user->last_name) ?></td>
        <td><?= $this->escapeHtml($user->date_birth) ?></td>
        <td><?= $this->escapeHtml($user->about) ?></td>
        <td><?= $this->escapeHtml($user->place) ?></td>
        <td><?= $this->escapeHtml($user->url) ?></td>
        <td><?= $this->escapeHtml($user->date_reg) ?></td>
        <td>
            <a href="<?= $this->url('user', ['action' => 'edit', 'id' => $user->id]) ?>">Edit</a>
            <a href="<?= $this->url('user', ['action' => 'delete', 'id' => $user->id]) ?>">Delete</a>
        </td>
    </tr>
<?php endforeach; ?>
</table>