<?php
$title = 'Add new twitt';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
$login = $form->get('login');
$login->setAttribute('class', 'form-control');
$login->setAttribute('placeholder', 'Login');

$twitt = $form->get('twitt');
$twitt->setAttribute('class', 'form-control');
$twitt->setAttribute('placeholder', 'Your twitt (max 280 chars)');

$date_add = $form->get('date_add');
$date_add->setAttribute('class', 'form-control');
$date_add->setAttribute('placeholder', 'Date add');

$submit = $form->get('submit');
$submit->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('twitter', ['action' => 'add']));
$form->prepare();

echo $this->form()->openTag($form);
?>
<div class="form-group">
    <?= $this->formLabel($login) ?>
    <?= $this->formElement($login) ?>
    <?= $this->formElementErrors()->render($login, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($twitt) ?>
    <?= $this->formElement($twitt) ?>
    <?= $this->formElementErrors()->render($twitt, ['class' => 'help-block']) ?>
</div>

<div class="form-group">
    <?= $this->formLabel($date_add) ?>
    <?= $this->formElement($date_add) ?>
    <?= $this->formElementErrors()->render($date_add, ['class' => 'help-block']) ?>
</div>

<?php
echo $this->formSubmit($submit);
echo $this->formHidden($form->get('id'));
echo $this->form()->closeTag();