<?php
$title = 'Twitter';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<p>
    <a href="<?= $this->url('twitter', ['action' => 'add']) ?>">Add new twitt</a>
</p>

<table class="table">
<tr>
    <th>Login</th>
    <th>Twitter</th>
    <th>Date added</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($twitts as $twitt) : ?>
    <tr>
        <td><?= $this->escapeHtml($twitt->login) ?></td>
        <td><?= $this->escapeHtml($twitt->twitt) ?></td>
        <td><?= $this->escapeHtml($twitt->date_add) ?></td>
        <td>
            <a href="<?= $this->url('twitter', ['action' => 'edit', 'id' => $twitt->id]) ?>">Edit</a>
            <a href="<?= $this->url('twitter', ['action' => 'delete', 'id' => $twitt->id]) ?>">Delete</a>
        </td>
    </tr>
<?php endforeach; ?>
</table>